<h1>hello</h1>

<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<p>You can test the API with following credentials.</p>
<div class="container">
  <%= @application.as_json %>
  <ul>
    <li><%= link_to "API V1 Munros", api_v1_munros_path %></li>
  </ul>
</div>
